# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/
env/
*.egg-info/
dist/
build/

# Robot Framework
output.xml
log.html
report.html
xunit.xml
*.log
*.png
*.jpg
*.jpeg
*.gif
*.csv
*.xls
*.xlsx

# VSCode/IDE
.vscode/
.idea/
*.swp

# MacOS
.DS_Store

# Windows
Thumbs.db